
body{
  border-color: #335d2d;
}
/* Navigation Bar */

h1{
  font-size: 4rem;
}

.navbar{
 background-color: #335d2d;

 font-family: 'Open Sans', sans-serif;
}





.carousel-indicators{visibility: hidden; }



/* Slide 1 Headings and Paragraph*/

.slide1-header1{
  position: absolute;
  word-wrap: break-word;
  font-size: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  margin-top: -78%;
  margin-left: -2%;
}

/* OLD SECOND Slide 1 HEADING  */

/* .slide1-header2{
  position: absolute;
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  margin-top: -75%;
  margin-left: -7%;
} */

/* Slide 2 Heading and Paragraph */
.header2{
  position: absolute;
  font-size: 5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  margin-top: -80%;
  margin-left: 7%;

}


/*Pictures for Carosel Slides */




.about-us{
  background-color: #f3ecd3;
  margin-top: -10%;
  padding-top: 10%;
  padding-bottom: 5%;
}
.about-title{
  color: #333333;
  background-color: #f3ecd3;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  text-align: center;
  margin-top: 100px;
}
.about-info{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-size: 2rem;
  color: #333333;
  padding-bottom: 50px;
}

/* Services Section */

#services{
  background-color: #f3ecd3;
}
.service-area{
  padding-top: 6%;
  background-color: #335d2d;
  font-size: 2rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  text-align: center;
}

.service-area-heading{
  font-family: 'Open Sans', sans-serif;
}

.service-area-paragraph{
 padding-bottom: 7%;
}

.services-info{
  color: #333333;
  text-align: center;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3ecd3;
  padding-top: 50px;
  padding-bottom: 5%;
}


.order{
  padding-top: 2%;
  color: #f3ecd3;
}

.order-button{

  background-color: #335d2d;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  border-style: none;
}

.order-button:hover{
  background-color: #ef8172;
  color: black;
}



.card-title{
  color: black;
  font-size: 2vw;
}
.card-text{
  color: #333333;
  font-size: 1vw;
}
.bullets{
  text-align: left;
}

.card-deck-row2{
  padding-top: 50px;
}
/* Card images */
.card-img-top{
  height: 50%;
}

/* Bottom Contact */

.bottom-contact{
margin: 90px 0 90px;
text-align: center;
width: 99.2%;
padding-top: 3%;
padding-bottom: 3%;
background-color: #335d2d;

}

.contact-heading{

    padding-left: 10%;
    padding-right: 10%;
    font-size: 4rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;

}



.contact-form{
  background-color: #f3ecd3;
  color: black;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  float: left;
  margin-left: 5%;

  padding-bottom: 5%;
}

/* Tablet Viewport */



/* Small Screen Viewport */

@media (max-width: 1300px) {

  .bbqtray{
    height: 40rem;
  }
  .bbqtray2{
    height: 40rem;
  }


  .slide1-header1{
    position: absolute;
    width: 100%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-top: -68%;



}

/* old second slide 1 heading */

/* .slide1-header2{
  position: absolute;
  width: auto;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-top: -70%;
  margin-left: -15%;
}  */

.header2{
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-top: -69%;
  margin-left: 5%;
}

.slide2-paragraph{
  visibility: hidden;
}


/* About us Section */
.about-us{

  margin-top: -12%;
  background-color: #f3ecd3;
}
.about-title{
  padding-top: 20px;
  font-size: 9vw;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.about-info{
  font-size: 2.5rem;
  width: auto;
font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  margin-left: auto;
  text-align: center;

}

.services-info{
  font-size: 2.5rem;
}


.program-title{
  font-size: 9vw;
}

.program-info{
  font-size: 2.5rem;
}


.order-button{

  background-color: #335d2d;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
  border-style: none;
}
.card-title{
  font-size: 3.5rem;

}
.card-text{
  font-size: 2.5rem;

}

.contact-form{
  float: left;
  margin-left: 5%;
  padding-bottom: 5%;
}


}
